^contentpage {
    background-color: black;
    padding: 10;
}

.lista_klas {
    background-color: black;
    gap: 5;
}



.lista_uczniow{
    background-color: black;
}

.uczen_w_liscie{
    margin-top: 5;
    background-color: rgb(15, 15, 15);
    color: white;
    text-align: center;
    font-size: 25;
}

.button{
    background-color: #001429;
}

#klasa_w_liscie {
    margin-top: 5;
    background-color: rgb(15, 15, 15);
    color: white;
    text-align: center;
    font-size: 25;
    border-radius: 10;
}

#ClassDetailsPage{
    background-color: black;
}
